body{
  margin: 0;
  padding: 0;
}
a{
  color: #32a8ee;
}
// 公用背景
.main-bg{
  background-image: url("/static/images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(#fff,.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}
.padding-main{
  padding: 0 20%;
}
.ivu-card-shadow{
  box-shadow: 0 5px 5px rgba(#000,.1);
}
